html {
    height: 100vh;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(30deg, rgba(2,0,36,1) 0%, rgba(46,26,68,1) 50%, rgba(59,25,64,1) 100%);
    background-repeat: no-repeat;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#div-video-player {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#video-player {
    width: 80%;
    height: 80%;
}

#video-cards {
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#video-cards::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#video-cards {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#preview {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: white;
    columns: 2;
    margin-bottom: 1%;
}

.brightline-logo {
    margin-top: 10px;
    margin-left: 10px;
}

.align-left {
    text-align: end;
    font-family: Arial, sans-serif;
}

.card {
    border: 1px solid gray;
    border-left: 0;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 70%;
    background-color: transparent;
    color: white;
}

.hide-element {
    display: none;
}

.focus-button {
    border: 2px solid white;
    transition: all 0.3s ease-in-out;
    transform: scaleX(1.1);
}

.display-in-columns {
    display: flex;
    height: 46vh;
}

#preview-player {
    width: 100%;
}

.preview-container {
    background-image: url("../images/TV1.svg");
    box-sizing: border-box;
    position: relative;
    padding: 5% 9% 17% 9.8%;
    background-size: 100% 95%;
    background-repeat: no-repeat;
    width: 85%;
    align-items: center;
    margin-top: 10%;
}

.font-style {
    color: white;
    font-family: Arial, sans-serif;
}

.controls-style {
    margin-left: 1%;
}